<!doctype html>
<html lang = "en">
{% load static %}
  <head>
   
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/chevron-down.css' rel='stylesheet'>
        <link href='{% static 'css/navbar.css' %}' rel='stylesheet'>
  <link href='{% static 'css/style.css' %}' rel='stylesheet'>
     <link href='{% static 'css/blog.css' %}' rel='stylesheet'>
 
    <meta charset="utf-8">
    <title>Abhinav Ram</title>

   

  </head>
  <body>
    <header class="header">
      <h1>MyPortfolio</h1>
      <nav class="navbar">
		<a class="left"  <a href="{% url 'home' %}">Abhinav Ram</a>
		<a href="{% static 'resume.pdf' %}">Resume</a>
       <a href="{% url 'allblogs' %}">Blog</a>
		<div class="dropdown">
			<button class="dropbtn">Docs
				<i class="gg-chevron-down" style="display:inline;"></i>
			</button>
			<div class="dropdown-content">
				<a href="{% static 'document.pdf' %}">Class XII Project</a>
		<a href="{% static 'sem4proposal.pdf' %}">Sem 4 Mini Project</a>
		<a href="{% static 'sanjaya.pdf' %}">IFP</a>
			</div>
		</div>
	</nav>
    </header>
      
     
</header>
    <div class="content">
{% block content %}

{% endblock %}
</div>
<footer class="footer">
     <p>Copyright. Abhinav Ram {% now "Y" %}</p>

</footer>
<script>
</script>
</body>
</html>
