{% extends 'base.html' %}
{% block content %}
{% load static %}
<main role="main">
<section>
    <div>
      <h1>I'm Abhinav, and this is my blog</h1>
      <hr style = "border-top: 1px dashed black">
      <p class="center">Check out my latest posts!</p>
   </div>
  </section>
 {% for newblog in blogs.all %}
  
    <div class="blog">
     
        <div>
             <img src = "{{ newblog.image.url }}" height = "250" width = "200">  
          </div>
         <div>
         <a href="#"> <h3>{{ newblog.title }}</h3></a>
          <div>{{ newblog.format_date }}</div>
            <p>{{ newblog.summary }}</p>
          </div>        
     
    </div>
  
        {% endfor %}
</main>


{% endblock %}

