{% extends 'base.html' %}
{% block content %}
{% load static %}
<main role="main">

 <div>
 <div class = "row">  
 <div>
      <h1>I'm Abhinav, and this is my place</h1>
      <p>Stay home. Stay safe. Maintain social distancing. Wash your hands. Cover your face.</p>    
</div>
    <div>
       <img src = "{% static 'abhibaby.jpg' %}" height = "250" width = "325">
    </div>
 </div>
</div>

   <div class = "album py-5 bg-light">
      <div class = "container">
       <div class = "row">
         {% for job in jobs.all%}
        <div>
          <div>
             <img class = card-img-top" src = "{{ job.image.url }}" width="400" height="535">
          <div>
              <p>{{ job.summary }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>

{% endblock %}

